In [44]:
import pandas as pd
import numpy as np

In [45]:
df_62 = pd.read_csv("CS-62-Status.csv").drop(["no","id"], axis=1)
df_62 = df_62[df_62["status"] == 10].drop(columns=["status"])
df_62["Name"] = df_62["fname"] + " " + df_62["lname"]
df_62 = df_62.drop(columns=["fname","lname"])
df_62

                           Name
0              นายกมล ศิลารักษ์
1    นายกิตติศักดิ์ เหง้าศรีไพร
2       นางสาวจุฑาทิพย์ บุญรมย์
4            นายณัฐวัฒน์ แซ่ตัง
5           นางสาวธนาพร ศรีโชติ
..                          ...
107    นายวชิรวิทย์ ยวงวิภักดิ์
108           นายวราวุฒิ มะลิผล
109     นางสาวศศิวิมล สว่างวงศ์
111    นางสาวอภัสรา ประมวลธนกิจ
112            นายอัยยะ บุ้งทอง

[95 rows x 1 columns]

In [46]:
df_63 = pd.read_csv("CS-63-Member.csv").drop(["No","Branch","Major"], axis=1)
df_63

                ID                          Name
0      633020032-4       นายกล้ายุทธ   พิชัยเชิด
1      633020033-2         นายจิรภัทร   ชื่นสกุล
2      633020034-0           นายชาญยุทธ   ดงทะนา
3      633020035-8            นายชานน   ภาคีนุยะ
4      633020036-6          นายณัฐนันท์   วรรณภา
..             ...                           ...
104    633021006-0         นางสาวสุภาวดี   มาวัน
105    633021007-8            นายอนุชา   เงินขาว
106    633021008-6          นายอภิวัฒน์   แก้วกำ
107    633021009-4   นายอัครเดช   วิทยาวุฒิรัตน์
108    633021010-9           นายอัษฎาวุธ   หอมดี

[109 rows x 2 columns]

In [96]:
from random import choice
def get_pair(sophomore_list):
    name = choice(sophomore_list)
    sophomore_list = sophomore_list[sophomore_list != name]
    return name[0], sophomore_list

In [72]:
0%5,1%5,3%5,5%5,6%5

(0, 1, 3, 0, 1)

In [81]:
""" Logic """
# a = [1,2,3,5,6,8]
# tmp = a.copy()

# for i in range(50):
#     if not i % len(tmp):
#         a = tmp.copy()
#         some, a = get_pair(a)
#         print(some, a)
#     else:
#         some, a = get_pair(a)
#         print(some, a)

' Logic '

In [85]:
sophomore_name = df_62.values
sophomore_name[5]

array(['นายธีรภัทร์ ลอยนอก'], dtype=object)

In [146]:
tmp = sophomore_name.copy()
paring_list = []

for i in range(len(df_63)):
    if not i % len(sophomore_name):
        name, tmp = get_pair(tmp)
        paring_list.append(name)
    else:
        tmp = sophomore_name.copy()
        name, tmp = get_pair(tmp)
        paring_list.append(name)
        
df_63["Sophomore"] = paring_list

In [179]:
def check_number_and_name(name):
    print(sum([name in i for i in df_63["Sophomore"].values]))
    return df_63[[name in i for i in df_63["Sophomore"].values]]

In [148]:
pd.crosstab(df_63["Name"], df_63["Sophomore"]).sum()

Sophomore
น                            1
นางสาวกนกพร แพงไทย           2
นางสาวกัญญาณี สามิภักดิ์     1
นางสาวจุฑาทิพย์ บุญรมย์      1
นางสาวชนิสรา แสงใส           1
                            ..
นายสุรชา สีลาอาสน์           4
นายอัครพนธ์ กาแก้ว           1
นายอัยยะ บุ้งทอง             2
นายอานัติพนธ์ กุลรัตน์       1
นายเจษฎากร กาญจนะสันติสุข    1
Length: 68, dtype: int64

In [180]:
check_number_and_name(input("Enter your name: "))

Enter your name: สุร
5

               ID                     Name           Sophomore
1     633020033-2    นายจิรภัทร   ชื่นสกุล  นายสุรชา สีลาอาสน์
27    633020394-0    นายธเนศวร   สายแสนทอง  นายสุรชา สีลาอาสน์
32    633020399-0   นายธีรภัทร์   บริบูรณ์  นายสุรชา สีลาอาสน์
34    633020401-9   นางสาวนงเยาว์   นนท์ใส  นายสุรชา สีลาอาสน์
56    633020423-9     นายสามารถ   มงคลฤกษ์    นายพงษกร ไชยสุระ