In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("CS-62-Data-Set.csv").drop(columns=["Round"])
df

      NO           ID                        Name  Status
0      1  623020032-3            นายกมล ศิลารักษ์      10
1      2  623020033-1  นายกิตติศักดิ์ เหง้าศรีไพร      10
2      3  623020034-9     นางสาวจุฑาทิพย์ บุญรมย์      10
3      4  623020035-7        นางสาวจุฑามาศ คงระวี      50
4      5  623020036-5          นายณัฐวัฒน์ แซ่ตัง      10
..   ...          ...                         ...     ...
108  109  623021035-2           นายวราวุฒิ มะลิผล      10
109  110  623021036-0     นางสาวศศิวิมล สว่างวงศ์      10
110  111  623021037-8  นางสาวเสาวลักษณ์ กองหาโคตร      50
111  112  623021038-6    นางสาวอภัสรา ประมวลธนกิจ      10
112  113  623021039-4            นายอัยยะ บุ้งทอง      10

[113 rows x 4 columns]

In [3]:
df.Status.value_counts()

10    90
50    16
62     5
61     2
Name: Status, dtype: int64

In [8]:
df[df.Status != 10].to_csv("CS-62-Outer-Data-Set.csv", index=False, encoding="utf-8")