In [67]:
import pandas as pd
import numpy as np

In [68]:
df_62 = pd.read_csv("CS-62-Status.csv").drop(["no","id"], axis=1)
df_62 = df_62[df_62["status"] == 10].drop(columns=["status"])
df_62["Name"] = df_62["fname"] + " " + df_62["lname"]
df_62 = df_62.drop(columns=["fname","lname"])
df_62

                           Name
0              นายกมล ศิลารักษ์
1    นายกิตติศักดิ์ เหง้าศรีไพร
2       นางสาวจุฑาทิพย์ บุญรมย์
4            นายณัฐวัฒน์ แซ่ตัง
5           นางสาวธนาพร ศรีโชติ
..                          ...
107    นายวชิรวิทย์ ยวงวิภักดิ์
108           นายวราวุฒิ มะลิผล
109     นางสาวศศิวิมล สว่างวงศ์
111    นางสาวอภัสรา ประมวลธนกิจ
112            นายอัยยะ บุ้งทอง

[95 rows x 1 columns]

In [69]:
df_63 = pd.read_csv("CS-63-Member.csv").drop(["No","Branch","Major"], axis=1)
df_63

                ID                          Name
0      633020032-4       นายกล้ายุทธ   พิชัยเชิด
1      633020033-2         นายจิรภัทร   ชื่นสกุล
2      633020034-0           นายชาญยุทธ   ดงทะนา
3      633020035-8            นายชานน   ภาคีนุยะ
4      633020036-6          นายณัฐนันท์   วรรณภา
..             ...                           ...
104    633021006-0         นางสาวสุภาวดี   มาวัน
105    633021007-8            นายอนุชา   เงินขาว
106    633021008-6          นายอภิวัฒน์   แก้วกำ
107    633021009-4   นายอัครเดช   วิทยาวุฒิรัตน์
108    633021010-9           นายอัษฎาวุธ   หอมดี

[109 rows x 2 columns]

In [70]:
from random import choice
def get_pair(sophomore_list):
    name = choice(sophomore_list)
    sophomore_list = sophomore_list[sophomore_list != name]
    return name, sophomore_list

In [71]:
0%5,1%5,3%5,5%5,6%5

(0, 1, 3, 0, 1)

In [72]:
""" Logic """
# a = [1,2,3,5,6,8]
# tmp = a.copy()

# for i in range(50):
#     if not i % len(tmp):
#         a = tmp.copy()
#         some, a = get_pair(a)
#         print(some, a)
#     else:
#         some, a = get_pair(a)
#         print(some, a)

' Logic '

In [73]:
df_62.Name.values

array(['นายกมล ศิลารักษ์', 'นายกิตติศักดิ์ เหง้าศรีไพร',
       'นางสาวจุฑาทิพย์ บุญรมย์', 'นายณัฐวัฒน์ แซ่ตัง',
       'นางสาวธนาพร ศรีโชติ', 'นายธีรภัทร์ ลอยนอก', 'นายสุรชา สีลาอาสน์',
       'นายหัสวรรษ อัคติ', 'นางสาวกนกพร แพงไทย', 'นายกฤติน ปักกุนนัน',
       'นางสาวกัญญาณัฐ ใสปาน', 'นางสาวกัญญาณี สามิภักดิ์',
       'นายกัณวัฒน์ พิสาดรัมย์', 'นายกิตติภพ เพ็ชร์โปรี',
       'นายชนม์สวัสดิ์ นาคนาม', 'นายชัยธวัช ศรีอนุตร', 'นายณัชวัศ หอระตะ',
       'นายณัฐดนัย สอนโพธิ์', 'นางสาวณัฐธิดา สายหม่าน', 'นายณัฐพล สีหา',
       'นายณัฐวุฒิ แง่มสุราช', 'นายธนโชติ เตชะศิริธนะกุล',
       'นางสาวธมลวรรณ หมื่นทุม', 'นางสาวนัฐชา ทาทองบุญ',
       'นายปณิธาน เทพบุดดี', 'นายปิยังกูร พิกุล', 'นายพงษกร ไชยสุระ',
       'นายพริษฐ์ จงหาญ', 'นายพลวัตร พิลาวงษ์', 'นายพีรภัทร ถนอมทรัพย์',
       'นายภัคพล อักษรจรรยา', 'นางสาวภัทรียา อามาตร',
       'นายภูวดล พงษ์สระพัง', 'นางสาวเมษิณี ยมนัตถ์', 'นายยุทธนา ชื่นจบก',
       'นายรัชพล สำราญรมย์', 'นายรัตนชัย ทีฆะทิพย์สกุล',
       'นางสาววรรษิดา เกตะวันดี', 'นางสาววีระยา ชัยประสงค์สุข',
       'นายศราวุฒิ พ่อสาร', 'นายศิริเฉลิม อุตรมาตย์',
       'นางสาวศิรินภา สงวนรัตน์', 'นายศุภสัณห์ รัตนะทองมา',
       'นายสถาพร พรมมา', 'นางสาวสินีนาฏ เทียกมูล', 'นายสิรภพ สังกฤษ',
       'นายสุธี แซ่ตัน', 'นางสาวเสาวรส มือมิน', 'นายอภิชาติ มูลวันดี',
       'นางสาวอรประวีณ์ มนตรีชน', 'นางสาวอัญมณี รุ่งเป้า',
       'นางสาวอารยา หาระคุโน', 'นางสาวอาริญา สราญรมย์',
       'นายกันตวิชญ์ วัตถุสินธุ์', 'นายคฑาทอง อภิรัตยาภา',
       'นายชานนท์ คล้ายจันทอง', 'นางสาวณิชากร ศรีวะรมย์',
       'นายดุลยณัฐ นิตย์ใหม่', 'นางสาวธิวาภรณ์ คำภักดี',
       'นายธีรวัฒน์ พิมทพงษ์', 'นายปัณณธร ผาใต้', 'นายพชระ โคตรมณี',
       'นายพิพรรธ สิงห์มีศรี', 'นายภูมิภัทร จันทร์ใบ', 'นายมันดีป คานีโย',
       'นายรัชพล ยะพลหา', 'นายวรเมธ ทันแขก',
       'นางสาวสุภาวรรณ อินทร์สมบูรณ์', 'นายอัครพนธ์ กาแก้ว',
       'นายอานัติพนธ์ กุลรัตน์', 'นายกฤตเมธ ศิริสุนทร',
       'นางสาวคาเรนเมดิสัน มีดย์', 'นายคุณากร ทานะสี',
       'นายเจษฎากร กาญจนะสันติสุข', 'นางสาวชนิสรา แสงใส',
       'นายชาญยุทธ ไวสูงเนิน', 'นางสาวชุตินธร วงค์พิพัฒน์',
       'นายชุติพนธ์ ศรีโยธา', 'นายณัชนพ มะลิรส', 'นายทวิชภณ ทาริวิก',
       'นายทัตธน พีระธรรม', 'นายธนาคาร พิมเสน',
       'นายนฤบดินทร์ สัมพันธสิทธิ์', 'นายนันทวัฒน์ อรรถประจง',
       'นายนิติภูมิ เสนาลา', 'นางสาวบุญญรัตน์ ศรีเสมอ',
       'นางสาวปนัดดา สิงห์เสน', 'นางสาวพิรญาณ์ สอาดชอบ',
       'นายยศวิน อังคะแสน', 'นายรณภพ รงค์ทอง', 'นายวชิรวิทย์ ยวงวิภักดิ์',
       'นายวราวุฒิ มะลิผล', 'นางสาวศศิวิมล สว่างวงศ์',
       'นางสาวอภัสรา ประมวลธนกิจ', 'นายอัยยะ บุ้งทอง'], dtype=object)

In [74]:
sophomore_name = df_62["Name"].values
sophomore_name[5]

'นายธีรภัทร์ ลอยนอก'

In [75]:
tmp = sophomore_name.copy()
paring_list = []

for i in range(len(df_63)):
    if i % len(sophomore_name):
        name, tmp = get_pair(tmp)
        paring_list.append(name)
        print("IF",len(tmp))
    elif i % len(sophomore_name) == 0:
        tmp = sophomore_name.copy()
        name, tmp = get_pair(tmp)
        paring_list.append(name)
        print("ELSE IF", len(tmp))
    else:
        print("ELSE")
        
print(sophomore_name)
df_63["Sophomore"] = paring_list

ELSE IF 94
IF 93
IF 92
IF 91
IF 90
IF 89
IF 88
IF 87
IF 86
IF 85
IF 84
IF 83
IF 82
IF 81
IF 80
IF 79
IF 78
IF 77
IF 76
IF 75
IF 74
IF 73
IF 72
IF 71
IF 70
IF 69
IF 68
IF 67
IF 66
IF 65
IF 64
IF 63
IF 62
IF 61
IF 60
IF 59
IF 58
IF 57
IF 56
IF 55
IF 54
IF 53
IF 52
IF 51
IF 50
IF 49
IF 48
IF 47
IF 46
IF 45
IF 44
IF 43
IF 42
IF 41
IF 40
IF 39
IF 38
IF 37
IF 36
IF 35
IF 34
IF 33
IF 32
IF 31
IF 30
IF 29
IF 28
IF 27
IF 26
IF 25
IF 24
IF 23
IF 22
IF 21
IF 20
IF 19
IF 18
IF 17
IF 16
IF 15
IF 14
IF 13
IF 12
IF 11
IF 10
IF 9
IF 8
IF 7
IF 6
IF 5
IF 4
IF 3
IF 2
IF 1
IF 0
ELSE IF 94
IF 93
IF 92
IF 91
IF 90
IF 89
IF 88
IF 87
IF 86
IF 85
IF 84
IF 83
IF 82
IF 81
['นายกมล ศิลารักษ์' 'นายกิตติศักดิ์ เหง้าศรีไพร' 'นางสาวจุฑาทิพย์ บุญรมย์'
 'นายณัฐวัฒน์ แซ่ตัง' 'นางสาวธนาพร ศรีโชติ' 'นายธีรภัทร์ ลอยนอก'
 'นายสุรชา สีลาอาสน์' 'นายหัสวรรษ อัคติ' 'นางสาวกนกพร แพงไทย'
 'นายกฤติน ปักกุนนัน' 'นางสาวกัญญาณัฐ ใสปาน' 'นางสาวกัญญาณี สามิภักดิ์'
 'นายกัณวัฒน์ พิสาดรัมย์' 'นายกิตติภพ เพ็ชร์โปรี' 'นายชนม์สวัสดิ์ นาคนาม'
 'นายชัยธวัช ศรีอนุตร' 'นายณัชวัศ หอระตะ' 'นายณัฐดนัย สอนโพธิ์'
 'นางสาวณัฐธิดา สายหม่าน' 'นายณัฐพล สีหา' 'นายณัฐวุฒิ แง่มสุราช'
 'นายธนโชติ เตชะศิริธนะกุล' 'นางสาวธมลวรรณ หมื่นทุม'
 'นางสาวนัฐชา ทาทองบุญ' 'นายปณิธาน เทพบุดดี' 'นายปิยังกูร พิกุล'
 'นายพงษกร ไชยสุระ' 'นายพริษฐ์ จงหาญ' 'นายพลวัตร พิลาวงษ์'
 'นายพีรภัทร ถนอมทรัพย์' 'นายภัคพล อักษรจรรยา' 'นางสาวภัทรียา อามาตร'
 'นายภูวดล พงษ์สระพัง' 'นางสาวเมษิณี ยมนัตถ์' 'นายยุทธนา ชื่นจบก'
 'นายรัชพล สำราญรมย์' 'นายรัตนชัย ทีฆะทิพย์สกุล' 'นางสาววรรษิดา เกตะวันดี'
 'นางสาววีระยา ชัยประสงค์สุข' 'นายศราวุฒิ พ่อสาร' 'นายศิริเฉลิม อุตรมาตย์'
 'นางสาวศิรินภา สงวนรัตน์' 'นายศุภสัณห์ รัตนะทองมา' 'นายสถาพร พรมมา'
 'นางสาวสินีนาฏ เทียกมูล' 'นายสิรภพ สังกฤษ' 'นายสุธี แซ่ตัน'
 'นางสาวเสาวรส มือมิน' 'นายอภิชาติ มูลวันดี' 'นางสาวอรประวีณ์ มนตรีชน'
 'นางสาวอัญมณี รุ่งเป้า' 'นางสาวอารยา หาระคุโน' 'นางสาวอาริญา สราญรมย์'
 'นายกันตวิชญ์ วัตถุสินธุ์' 'นายคฑาทอง อภิรัตยาภา' 'นายชานนท์ คล้ายจันทอง'
 'นางสาวณิชากร ศรีวะรมย์' 'นายดุลยณัฐ นิตย์ใหม่' 'นางสาวธิวาภรณ์ คำภักดี'
 'นายธีรวัฒน์ พิมทพงษ์' 'นายปัณณธร ผาใต้' 'นายพชระ โคตรมณี'
 'นายพิพรรธ สิงห์มีศรี' 'นายภูมิภัทร จันทร์ใบ' 'นายมันดีป คานีโย'
 'นายรัชพล ยะพลหา' 'นายวรเมธ ทันแขก' 'นางสาวสุภาวรรณ อินทร์สมบูรณ์'
 'นายอัครพนธ์ กาแก้ว' 'นายอานัติพนธ์ กุลรัตน์' 'นายกฤตเมธ ศิริสุนทร'
 'นางสาวคาเรนเมดิสัน มีดย์' 'นายคุณากร ทานะสี' 'นายเจษฎากร กาญจนะสันติสุข'
 'นางสาวชนิสรา แสงใส' 'นายชาญยุทธ ไวสูงเนิน' 'นางสาวชุตินธร วงค์พิพัฒน์'
 'นายชุติพนธ์ ศรีโยธา' 'นายณัชนพ มะลิรส' 'นายทวิชภณ ทาริวิก'
 'นายทัตธน พีระธรรม' 'นายธนาคาร พิมเสน' 'นายนฤบดินทร์ สัมพันธสิทธิ์'
 'นายนันทวัฒน์ อรรถประจง' 'นายนิติภูมิ เสนาลา' 'นางสาวบุญญรัตน์ ศรีเสมอ'
 'นางสาวปนัดดา สิงห์เสน' 'นางสาวพิรญาณ์ สอาดชอบ' 'นายยศวิน อังคะแสน'
 'นายรณภพ รงค์ทอง' 'นายวชิรวิทย์ ยวงวิภักดิ์' 'นายวราวุฒิ มะลิผล'
 'นางสาวศศิวิมล สว่างวงศ์' 'นางสาวอภัสรา ประมวลธนกิจ' 'นายอัยยะ บุ้งทอง']

In [76]:
def check_number_and_name(name):
    print(sum([name in i for i in df_63["Sophomore"].values]))
    return df_63[[name in i for i in df_63["Sophomore"].values]]

In [95]:
df_63["Sophomore"].value_counts().values.sum(), df_63["Sophomore"].value_counts().values

(109,
 array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1], dtype=int64))

In [78]:
check_number_and_name(input("Enter your name: "))

Enter your name: ชนม์
1

               ID                         Name              Sophomore
22    633020389-3   นายชาญรุ่งเรือง   จันทวารา  นายชนม์สวัสดิ์ นาคนาม